@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WindTurbine.Models.Location

<h2>Add a new Location!</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Time, new { @Value = @DateTime.Now.ToShortDateString() })

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Latitude)
    @Html.EditorFor(model => model.Latitude)
    <br /><br />
    @Html.LabelFor(model => model.Longitude)
    @Html.EditorFor(model => model.Longitude)
    <br /><br />
    <input type="submit" value="Create" />
}
<br />
@Html.ActionLink("Back to List", "Index")