@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WindTurbine.Models.Location

<h2>Add a new Location!</h2>
<hr />
@using (Html.BeginForm())
{

    <div class="locationCreateForm">
        <p>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </p>
        <p>
            @Html.LabelFor(model => model.Latitude)
            @Html.EditorFor(model => model.Latitude)
        </p>
        <p>
            @Html.LabelFor(model => model.Longitude)
            @Html.EditorFor(model => model.Longitude)
        </p>
        <input type="submit" value="Create" />
    </div>
}
<br />
<div class="locationCreateForm">
    @Html.ActionLink("Back to List", "Index")
</div>