@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WindTurbine.Models.Location

<h3>Details</h3>
<hr />
Name: @Html.DisplayFor(model => model.Name)
<br /><br />
Latitude: @Html.DisplayFor(model => model.Latitude)
<br /><br />
Longitude: @Html.DisplayFor(model => model.Longitude)
<br /><br />
@Html.DisplayFor(model => model.Time)
<br /><br />
<p>@Html.ActionLink("Back to the list", "Index")</p>

