@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WindTurbine.Models.Location

<h3>Details</h3>
<hr />
Name: @Html.DisplayFor(model => model.Name)
<br /><br />
@Html.DisplayFor(model => model.Time)
<br /><br />
Latitude: @Html.DisplayFor(model => model.Latitude)
<br /><br />
Longitude: @Html.DisplayFor(model => model.Longitude)
<hr />

<div class="result">
</div>

<br />
<p>@Html.ActionLink("Back to your locations", "Index")</p>

<script type="text/javascript">
    $(document).ready(function () {
        var result = function () {
            var lat = @Html.DisplayFor(model => model.Latitude);
            var long = @Html.DisplayFor(model => model.Longitude);

            $.getJSON("https://api.forecast.io/forecast/" + "@Forecast.Models.EnvironmentVariables.forecastKey" + "/" + lat + "," + long + "?callback=?", function (json) {
                var currentWindSpeed = json.currently.windSpeed;
                var currentWindSpeedSI = currentWindSpeed * .44704;
                var currentAirPressure =json.currently.pressure;
                var currentTemperature = json.currently.temperature;
                var currentKelvin = (json.currently.temperature + 459.67) * (5/9);
                var currentAirDensity = (currentAirPressure * 100)/(287.05 * currentKelvin)

                $('.result').html('<p> Temperature: ' + json.currently.temperature + " °F" + '<br /><br />' + "Windspeed: " + currentWindSpeed + " miles/hour" + '<br /><br />' + "Air Density: " + currentAirDensity.toFixed(3) + " kg/m³" + '<br /><br />' + "Kinetic Energy: " + ((.5) * currentAirDensity * (Math.pow(32.25, 2) * Math.PI) * Math.pow(currentWindSpeedSI, 3) * (.4)).toFixed(2) + " watts" + '</p>');
            });
        }
        result();
    });
</script>
