@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WindTurbine.Models.Location>
@using System.Security.Claims

@if (Model.Any())
{   <div id="locationTitle">
        
        <h3 id="newLocationIndex" data-toggle="modal" data-target="#myModal">@Html.ActionLink("Create a new location", "Create")</h3 id="newLocationIndex">
    </div>

    @foreach (var listLocation in Model)
    {   <div class="locationItems">
            <p>Name: @Html.DisplayFor(modelLocation => listLocation.Name)</p>
            <p>@Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })</p>
        </div>
        <hr />
    }
}

else
{
    <div id="locationTitle">
        <h3>@Html.ActionLink("Create a new location", "Create")</h3>
    </div>
    <div class="locationItems">
        <p>No locations have been added yet!</p>
    </div>
}

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add A New Location</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {

                    <div class="locationCreateForm">
                        @*<p>
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name)
                        </p>
                        <p>
                            @Html.LabelFor(model => model.Latitude)
                            @Html.EditorFor(model => model.Latitude)
                        </p>
                        <p>
                            @Html.LabelFor(model => model.Longitude)
                            @Html.EditorFor(model => model.Longitude)
                        </p>*@
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>