@using WindTurbine.ViewModels
@model LoginViewModel
@using System.Security.Claims

@if (User.IsSignedIn())
{
    @Html.ActionLink("Log Off", "LogOff", "Account")

}
else
{
    <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <a href="#myModal" data-toggle="modal" data-target="#myModal">Log-in</a></li>
            </ul>
    </nav>
}



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Log-in</h4>
            </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            <br /><br />
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <br />
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        }
        </div>
    </div>
</div>