@model WindTurbine.ViewModels.RegisterViewModel

<div class="modal fade" id="modalRegister">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Register</h4>
            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <div class="modal-center">
                    @Html.LabelFor(m => m.UserName, new { @class = "hidden" })
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username" })
                    <br /><br />
                    @Html.LabelFor(m => m.Email, new { @class = "hidden" })
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                    <br /><br />
                    @Html.LabelFor(m => m.Password, new { @class = "hidden" })
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                    <br /><br />
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "hidden" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                    <br /><br />
                </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn">Close</a>
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
            }
        </div>
    </div>
</div>